$container_display: flex;
$container_flex-direction: column;
$container_justify-content: space-around;
$container_align-items: stretch;
$container_margin: 5px;
$container_font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
.container {
    display: $container_display;
    flex-direction: $container_flex-direction;
    justify-content: $container_justify-content;
    align-items: $container_align-items;
    margin: $container_margin;
    font-family: $container_font-family;
}
$a_color: white;
$a_text-decoration: none;
  a {
    color: $a_color;
    text-decoration: $a_text-decoration;
  }

  $logo_padding: 5px;
  .logo {
    padding: $logo_padding;
  }


$main_part_display: flex;
$main_part_flex-direction: column;
  .main_part {
    display: $main_part_display;
    flex-direction: $main_part_flex-direction;
  }

  $div_poster_display: inline-flex;
    $div_poster_flex-direction: row;
    $div_poster_justify-content: space-around;
    $div_poster_flex-wrap: wrap;
    $div_poster_margin-top: 20px;
  .div_poster {
    display: $div_poster_display;
    flex-direction: $div_poster_flex-direction;
    justify-content: $div_poster_justify-content;
    flex-wrap: $div_poster_flex-wrap;
    margin-top: $div_poster_margin-top;
  }
  $h_font-weight:2000;
  $h_margin-left: 25px;
  h1 {
    font-weight: $h_font-weight;
    margin-left: $h_margin-left;
  }


  $footer_display: flex;
    $footer_flex-direction: column;
    $footer_margin-top: 20px;
    $footer_margin-left: -10px;
    $footer_margin-right: -10px;
    $footer_background-color: black;
    $footer_color: white;
    $footer_height: 140px;
    $footer_width: auto;
    $footer_font-size: 25px;
    $footer_padding: 10px;
  .footer {
    display: $footer_display;
    flex-direction: $footer_flex-direction;
    margin-top: $footer_margin-top;
    margin-left: $footer_margin-left;
    margin-right: $footer_margin-right;
    background-color: $footer_background-color;
    color: $footer_color;
    height: $footer_height;
    width: $footer_width;
    font-size: $footer_font-size;
    padding: $footer_padding;
  }

  $first_line_display: inline-flex;
    $first_line_flex-direction: row;
    $first_line_justify-content: space-around;
    $first_line_margin: 5px;
  .first_line {
    display: $first_line_display;
    flex-direction: $first_line_flex-direction;
    justify-content: $first_line_justify-content;
    margin: $first_line_margin;
  }

  $second_line_padding-left: 50px;
    $second_line_justify-content: flex-start;
    $second_line_margin: 5px;
  .second_line {
    padding-left: $second_line_padding-left;
    justify-content: $second_line_justify-content;
    margin: $second_line_margin;
  }

  $back_color_body: lightgrey;
  body {
    background-color:$back_color_body;
  }